@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,200,300,400,500,700");
/* Scrollbar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #999;
}

.body {
  background: #171616;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.body_white {
  background: #ffffff;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

textarea {
  max-width: calc(100% - 20px);
  min-width: calc(100% - 20px);
  max-height: 165px;
  min-height: 70px;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
  z-index: 1000 !important;
  padding: 0 75px 0;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.header__logo {
  display: block;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #947268;
}

.main {
  padding-top: 94px;
  opacity: 0;
}

.main_project {
  padding-top: 0;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-menu__item {
  margin: 0 35px;
}

.nav-menu__item:first-child {
  margin-left: 0;
}

.nav-menu__item:last-child {
  margin-right: 0;
}

.nav-menu__item > a {
  color: #666666;
}

.nav-menu__link {
  color: #666666;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  line-height: 1.4;
}

.nav-menu__link.active-link {
  color: #999999;
}

.nav-menu__link:hover {
  color: white;
}

.nav-menu__link:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: #ffffff;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.nav-menu__link:hover:after,
.nav-menu__link :focus:after {
  height: 2px;
  width: 20px;
}

.nav-mobile {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1002;
}

.nav-mobile__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 1001;
}

.nav-mobile__icon {
  display: block;
  position: relative;
  background: white;
  width: 100%;
  height: 1px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-mobile__icon:after, .nav-mobile__icon:before {
  content: "";
  display: block;
  position: absolute;
  background: white;
  width: 100%;
  height: 1px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-mobile__icon:after {
  top: 8px;
}

.nav-mobile__icon:before {
  top: -8px;
}

.nav-mobile__container {
  position: absolute;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -40px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 100%;
  z-index: 1000;
  height: 100vh;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  overflow: hidden;
  background-color: white;
}

.nav-mobile__item {
  font-size: 32px;
  padding-bottom: 25px;
}

.nav-mobile__link {
  text-decoration: none;
  color: #171616;
}

.nav-mobile__link:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

.nav-mobile__link.active-link {
  text-decoration: line-through;
  font-weight: 500;
}

.nav-mobile__checkbox {
  display: none;
}

.nav-mobile__checkbox:checked ~ .nav-mobile__container {
  left: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

@media screen and (max-width: 768px) {
  .nav-mobile__checkbox:checked ~ .nav-mobile__container {
    left: 0;
  }
}

.nav-mobile__checkbox:checked ~ .nav-mobile__list {
  opacity: 0;
}

.nav-mobile__checkbox:checked ~ .nav-mobile__btn .nav-mobile__icon {
  background: transparent;
}

.nav-mobile__checkbox:checked ~ .nav-mobile__btn .nav-mobile__icon::before, .nav-mobile__checkbox:checked ~ .nav-mobile__btn .nav-mobile__icon::after {
  top: 0;
  background: #171616;
}

.nav-mobile__checkbox:checked ~ .nav-mobile__btn .nav-mobile__icon::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background: #171616;
}

.nav-mobile__checkbox:checked ~ .nav-mobile__btn .nav-mobile__icon::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: #171616;
}

.nav-mobile_fixed__container {
  position: fixed;
}

.project-page {
  background: #ffffff;
  overflow: auto;
}

.project-navigation {
  position: fixed;
  background: #ffffff;
  left: 0;
  right: 0;
  height: 70px;
  bottom: 0;
  padding: 0 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
}

.project-gallery {
  margin-top: 50px;
}

.project-gallery .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  margin-bottom: 50px;
}

.project-gallery .row-container {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  -ms-flex-preferred-size: calc(50% - 50px);
      flex-basis: calc(50% - 50px);
  gap: 50px;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
}

.project-gallery .row-container:not(:only-of-type) {
  margin: 0 25px;
}

.project-gallery .row-container:not(:only-of-type):last-child {
  margin-right: 0;
}

.project-gallery .row-container:not(:only-of-type):first-child {
  margin-left: 0;
}

.project-gallery .row-container .c-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-gallery .row-container .c-video {
  width: 100%;
  height: 100%;
}

.section {
  color: #ffffff;
}

.section_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding: 0 75px 0;
  margin-top: -94px;
}

.section_about .about__h1 {
  font-size: 10vw;
  font-weight: bolder;
  color: #ffffff;
  text-align: left;
  margin-left: 38%;
  margin-top: 40px;
}

.section_about .about__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #ffffff;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 200;
  margin-top: 40px;
}

.section_about .spec-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 30px;
  font-size: 30px;
  text-align: end;
  white-space: nowrap;
}

.section_about .spec-list__item {
  margin-bottom: 20px;
}

.section_about .spec-list__item:last-child {
  margin-bottom: 0;
}

.section_about .spec-text {
  max-width: 500px;
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
}

.section_about .spec-text__paragraph {
  margin-bottom: 20px;
}

.section_about .spec-text__paragraph:last-child {
  margin-bottom: 0;
}

.section_project {
  padding: 100px 250px;
}

.section_project .project__h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 72px;
  font-weight: bolder;
  color: #171616;
  text-align: left;
  margin-bottom: 60px;
}

.section_project .project__description {
  font-family: "Montserrat", sans-serif;
  color: #171616;
  padding-left: 50px;
  line-height: 1.5em;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  color: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 75px 0;
  margin-bottom: 40px;
  font-family: "Montserrat";
  font-weight: 200;
}

.footer > a:not(:last-child) {
  padding-right: 40px;
}

.social__item {
  margin: 20px 0;
}

.social__item:first-child {
  margin-top: 0;
}

.social__item:last-child {
  margin-bottom: 0;
}

.social__item .fa-circle {
  -webkit-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
  opacity: 0.4;
}

.social__item .fab {
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.social__item:hover .fa-circle {
  opacity: 1;
}

.social__item:hover .fab {
  color: #ac8c76;
}

.slider-main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 55%;
  z-index: -1;
}

.slider-main .item {
  margin: 0;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.slider-main .item-wrapper {
  overflow: hidden;
}

.slider-main .item-wrapper:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, black 100%);
  opacity: 0.6;
}

.slider-main .item-image {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-works {
  position: absolute;
  top: 0;
  bottom: 0;
  color: #fff;
  text-align: left;
  width: 100%;
  padding-left: 75px;
  padding-right: 75px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-works .slick-prev, .slider-works .slick-next {
  cursor: pointer;
  opacity: 0.4;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slider-works .slick-prev:hover, .slider-works .slick-next:hover {
  opacity: 1;
}

.slider-works .slick-arrow {
  position: absolute;
  z-index: 1;
  left: 25%;
}

.slider-works .slick-prev {
  top: 10%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.slider-works .slick-prev > svg {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.slider-works .slick-next {
  bottom: 10%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.slider-works .slick-next > svg {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.slider-works .slick-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 450px;
  margin: 90px 0;
}

.slider-works .slick-slide .works-item__img-container img {
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
  -webkit-transition: -webkit-filter ease-in-out 0.3s;
  transition: -webkit-filter ease-in-out 0.3s;
  transition: filter ease-in-out 0.3s;
  transition: filter ease-in-out 0.3s, -webkit-filter ease-in-out 0.3s;
}

.slider-works .slick-slide > figcaption {
  width: 45%;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s;
}

.slider-works .slick-current .works-item__img-container img {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.slider-works .slick-current > figcaption {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s;
}

.slider-works .slick-dots {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 2%;
}

.slider-works .slick-dots li {
  list-style: none;
  margin: 15px 0;
}

.slider-works .slick-dots .slick-active button {
  opacity: 0.7;
}

.slider-works .slick-dots button {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  border: none;
  background-color: #fff;
  text-indent: -9999px;
  outline: 0;
  opacity: 0.4;
  cursor: pointer;
}

.slider-works .slick-dots button:hover {
  opacity: 1;
}

.link__text {
  font-weight: 200;
  font-size: 18px;
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px dashed #fff;
}

.link__text_black {
  border-color: #171616;
}

.link__social:after {
  content: "";
  display: block;
  position: relative;
  bottom: -5px;
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.link__social:hover:after,
.link__social :focus:after {
  opacity: 0.5;
  bottom: -2px;
}

.link__close {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.link__close:after {
  content: "";
  display: block;
  position: relative;
  bottom: -5px;
  height: 1px;
  width: 100%;
  background-color: #000000;
}

.works-item__caption {
  font-family: "Montserrat Alternates", sans-serif;
  margin-left: 50px;
  padding-right: 50px;
}

.works-item__caption .caption__header {
  font-size: 48px;
  margin-bottom: 40px;
}

.works-item__caption .caption__description {
  font-size: 16px;
  line-height: 1.8em;
  margin-bottom: 30px;
}

.works-item__caption .caption__link {
  display: block;
}

.works-item__caption .caption__link:hover > img {
  opacity: 1;
}

.works-item__img-container {
  width: 50%;
  max-height: 450px;
  overflow: hidden;
}

.works-item__img-container img {
  width: 100%;
}

.arrow-prev {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.arrow_works {
  opacity: 0.7;
  fill: #ffffff;
}

.arrow_works:hover {
  opacity: 1;
}

.btn-submit {
  border: 2px solid #222;
  display: inline-block;
  outline: none !important;
  cursor: pointer;
  color: #ffffff;
  background-color: transparent;
  border-color: #ac8c76;
  padding: 10px 50px 10px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
}

.btn-submit:hover {
  color: #000000;
  background-color: #ac8c76;
  border-color: #ac8c76;
}

.bg-rect {
  position: fixed;
  right: 0;
  left: 70%;
  bottom: 0;
  top: calc(100% - 100px);
  background-color: #342e2a;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  z-index: -20;
}

.bg-rect__work {
  left: 65%;
  top: calc(100% - 240px);
}

.bg-rect__contacts {
  left: 30%;
  top: calc(100% - 90px);
}

#contact-form {
  max-width: 600px;
  width: 100%;
}

.section_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 60px 70px 70px;
}

.form_container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 700px;
}

.form__description-h2 {
  font-weight: bold;
  font-size: 64px;
  text-align: left;
  margin-bottom: 50px;
}

.form__description-text {
  font-weight: 300;
  font-size: 16px;
  text-align: right;
  max-width: 400px;
  margin-bottom: 30px;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 40px;
  width: 100%;
}

.form-group .control-label {
  font-size: 16px;
  line-height: 1.6em;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #ac8c76;
}

.form-control {
  position: relative;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 55px;
  padding: 0 10px;
  background: 0 0 !important;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: 2px;
  color: #fff;
  border-radius: 0;
  border: transparent;
  border-color: transparent;
  border-bottom: 1px solid #ac8c76;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bg-img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: calc(94px + 60px);
  left: calc(60% - 70px);
  z-index: -1;
  overflow: hidden;
}

.bg-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
}

@media screen and (max-width: 1368px) {
  .form__description-h2 {
    font-size: 48px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1024px) {
  #contact-form {
    max-width: 100%;
  }
  .section_form {
    padding: 40px 30px;
  }
  .form_container {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .form-control {
    height: 35px;
  }
  .bg-img {
    position: absolute;
    right: 0;
    left: 25%;
    bottom: 0;
    top: 110px;
    z-index: -1;
    margin: 0;
    max-width: 100%;
  }
  .bg-img img {
    height: 100%;
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 768px) {
  .section_form {
    padding: 40px 30px 40px;
  }
  .form__description-h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .form__description-text {
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-control {
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .section_form {
    padding: 40px 20px 20px;
  }
  .form__description-h2 {
    margin-bottom: 10px;
  }
  .form__description-text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .form-group .control-label {
    font-size: 14px;
    line-height: 1.4em;
  }
  .form-control {
    font-size: 16px;
  }
}

@media screen and (max-width: 1280px) {
  .section_project {
    padding: 75px 125px 100px;
  }
  .nav-menu__item {
    margin: 0 15px;
  }
  .nav-menu__item:first-child {
    margin-left: 0;
  }
  .nav-menu__item:last-child {
    margin-right: 0;
  }
  .nav-menu__item > a {
    color: #666666;
  }
  .project-navigation {
    padding: 0 125px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    margin-top: 40px;
    padding: 0 30px 0;
  }
  .nav-menu {
    display: none;
  }
  .nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section_about {
    padding: 0 30px 0;
  }
  .section_about .about__h1 {
    font-size: 14vw;
    margin-top: 0;
    margin-left: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .section_about .about__description {
    margin-top: 0;
    padding-left: 0;
  }
  .section_about .spec-list {
    margin-right: 20px;
    font-size: 24px;
  }
  .section_about .spec-list__item {
    margin-bottom: 10px;
  }
  .section_about .spec-text__paragraph {
    margin-bottom: 10px;
  }
  .section_project {
    padding: 50px 100px 100px;
  }
  .section_project .project__h1 {
    font-size: 58px;
    margin-bottom: 40px;
  }
  .spec-list {
    font-size: 26px;
  }
  .spec-text {
    max-width: 470px;
  }
  .slider-main {
    right: 15%;
    bottom: 10%;
  }
  .slider-main .item-image {
    height: 90vh;
  }
  .slider-main .item-wrapper:after {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(25%, rgba(0, 0, 0, 0))), radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, black 100%);
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 25%), radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, black 100%);
  }
  .slider-works {
    padding-right: 30px;
    padding-left: 0;
  }
  .slider-works .slick-slide {
    height: 515px;
    margin: 45px 0;
  }
  .slider-works .slick-current > figcaption {
    z-index: 1;
  }
  .slider-works .slick-prev {
    top: 5%;
  }
  .slider-works .slick-next {
    bottom: 5%;
  }
  .works-item__img-container {
    height: 100%;
  }
  .works-item__img-container img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .project-navigation {
    padding: 0 100px;
  }
  .footer {
    padding: 0 30px 0;
  }
}

@media screen and (max-width: 768px) {
  .section_about .about__h1 {
    font-size: 16vw;
  }
  .section_about .spec-text {
    max-width: 100%;
    font-size: 16px;
    margin-top: 40px;
    line-height: 1.2;
  }
  .section_project {
    padding: 35px 70px 70px;
  }
  .section_project .project__h1 {
    margin-bottom: 20px;
  }
  .section_project .project__description {
    padding-left: 0;
  }
  .project-gallery .row {
    margin-bottom: 30px;
  }
  .project-gallery .row-container:not(:only-of-type) {
    margin: 0 15px;
  }
  .project-navigation {
    padding: 0 70px;
    height: 60px;
  }
}

@media screen and (max-width: 600px) {
  .slider-works {
    padding-right: 0;
  }
  .slider-works .slick-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 450px;
  }
  .slider-works .slick-slide > figcaption {
    position: absolute;
    bottom: 30px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-right: 0;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .slider-works .slick-prev {
    left: 50%;
  }
  .slider-works .slick-next {
    left: 50%;
  }
  .works-item__img-container {
    width: 100%;
    margin-bottom: 30px;
  }
  .works-item__caption .caption__header {
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 36px;
  }
  .works-item__caption .caption__description {
    font-size: 14px;
    line-height: 1.6em;
    margin-bottom: 20px;
  }
  .works-item__caption .caption__link {
    min-width: 360px;
    padding: 0 20px;
  }
  .section_about .about__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section_about .spec-list {
    margin-right: 0;
  }
  .section_about .spec-text {
    margin-top: 20px;
    max-width: 100%;
  }
  .section_project {
    padding: 35px 70px 70px;
  }
  .section_project .project__h1 {
    font-size: 48px;
  }
  .section_project .project__description {
    font-size: 14px;
  }
  .project-navigation {
    -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
  }
  .btn-submit {
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    font-size: 14px;
    margin-top: 20px;
    padding: 0 20px 0;
  }
  .nav-mobile__btn {
    width: 25px;
  }
  .nav-mobile__container {
    margin-top: -20px;
  }
  .section-about__description {
    padding-left: 0;
  }
  .section_project {
    padding: 20px 20px 70px;
  }
  .section .spec-list {
    font-size: 20px;
  }
  .section .spec-list__item {
    margin-bottom: 10px;
  }
  .project-navigation {
    padding: 0 20px;
  }
  .project-gallery .row {
    margin-bottom: 15px;
  }
  .project-gallery .row-container:not(:only-of-type) {
    margin: 0 7.5px;
  }
  .works-item__img-container {
    margin-bottom: 20px;
  }
  .works-item__caption .caption__header {
    margin-bottom: 10px;
  }
  .works-item__caption .caption__description {
    margin-bottom: 10px;
  }
  .works-item__caption .caption__link {
    min-width: auto;
  }
  .slider-main {
    right: 0%;
    bottom: 0%;
  }
  .slider-works .slick-slide > figcaption {
    bottom: 20px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .btn-submit {
    font-size: 16px;
    padding: 10px 30px 10px;
  }
  .footer {
    padding: 0 20px 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 375px) {
  .section_about {
    padding: 0 20px 0;
  }
  .section_about .spec-text {
    font-size: 14px;
    line-height: 1.5;
  }
}
/*# sourceMappingURL=style.css.map */